<% layout('layout') -%>
<main>
  <h1>Register</h1>

  <section class="register-form">
    <form method='post' action='/portfolio'>
      <fieldset>
        <label for="name-input">Name</label>
        <input type="text" name="name" id="name-input">

        <label for="email-reg-input">Email</label>
        <input type='email' name='email' id='email-reg-input' />

        <label for="password-reg-input">Password</label>
        <input type="password" name="password" id="password-reg-input" />

        <input type="submit" name="submit" value="Register" formmethod="post" formaction="/register">
      </fieldset>
    </form>
  </section>

  <a href="signin">Already have an account?</a>
</main>