<h1>Register</h1>

<form method='post' action='/portfolio'>
  <label for="name-input"> Name</label>
  <input type="text" name="name" id="name-input">

  <label for="email-signin-input"> Email</label>
  <input type='email' name='email' id='email-signin-input' />

  <label for="password-signin-input"> Password</label>
  <input type="password" name="password" id="password-signin-input" />

  <input type="submit" name="submit" value="Register">
</form>

<a href="signin"> Already have an account?</a>