<% layout('layout') -%>
<main>
  <nav class='navbar'>
    <ul>
      <li><a href="portfolio">Portfolio</a></li>
      <li>|</li>
      <li><a href="transactions">Transactions</a></li>
      <li>|</li>
      <li><a href="signin">Logout</a></li>
    </ul>
  </nav>
  <h1 class="profile-title">Transactions</h1>

  <section class="made-transactions">
    <table>
      <tbody id="transaction-info">

      </tbody>
    </table>
  </section>
</main>

<script type="text/javascript" src=""></script>